AI-Agent-Demo/ai-agent-venv
AI-Agent-Demo/.env

RAG/.env
RAG/rag-venv/

RAG Queue/.env
RAG Queue/rag_queue_venv/
RAG Queue/__pycache__/
RAG Queue/client/__pycache__/
RAG Queue/queues/__pycache__/

langchain-llm-app/langchain-llm-venv/
langchain-llm-app/.env
langchain-llm-app/__pycache__/

image/image-venv
image/.env